.a{
    background-image: url("../img/images/pattern.png");
    width: 100%;
    height: auto;
}

.parallax {
    /* The image used */
    background-image: url('../img/images/maintheme.jpg');

    /* Full height */
    height: 70%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image:
            url('../img/images/catabom.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*CUSTOM SCROLL BAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d5d5d5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*END OF CUSTOM SCROLL BAR*/